<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form  [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">Login</h3>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" formControlName="userName" placeholder="User Name" class="form-control">
                    <label for="userName">User Name:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" formControlName="password" placeholder="Passwrod" class="form-control">
                    <label for="password">Password</label>
                </div>

                <div class="form-floatin" *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                </div>


                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-lg btn-info" type="submit">Login</button>
                </div>
            </form>

            <div class="mt-4 text-center">
                <a class="btn btn-link">
                    Forget user name or Passwrod
                </a>
            </div>
        </main>
    </div>
</div>